body{
  background-image: url("../images/mock-up.jpg");
    background-repeat: none;
    background-position: center;
    height: 5227px;
}
.container{
    width: 1106px;
    margin: auto;

}
.primary-button{
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    padding: 15px 32px;
    border-radius: 4px;
    background-color: #009ce9;
    color: white;
}
header{
    height: 72px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 19px 0px 0px 0px;
    
    font-family: Arial, Helvetica, sans-serif;
}
.header-wrapper .logo h1{
    font-size: 30px;
   
    color: #7f8c92;

}
.navi{
   display: flex;
}
.navi li{
    list-style: none;
}
.navi li a{
display: inline-block;
margin: 10px 29px;
}

#hero{
    height: 585px;
    }
#hero .hero-wrapper{
display: flex;
justify-content: space-between;
}
.hero-wrapper .text-hero{
    padding: 120px 0;
    flex-basis: 48%;
}
.hero-wrapper .hero-link{
    margin: 30px 0;
    padding: 10px 0 0 5px;
    display: inline-block;
    
    flex-basis: 48%;
}
.hero-wrapper .text-link a{
  
}
.hero-wrapper .image-hero{
flex-basis: 48%;
}
.hero-wrapper .image-hero img{
padding: 79px;
}

.hero-wrapper .text-hero h2{
    font-size: 55px;
    color: #374046;
}
.hero-wrapper .text-hero p{
    padding: 20px 0 0 0;
    font-size: 30px;
    color: #384046;
}
#about{
height: 444px;

}
#about .about-wrapper{
display: flex;
justify-content: space-between;
padding: 36px;
}
.about-wrapper .about-image{
flex-basis: 48%;
}
.about-wrapper .about-text{
flex-wrap: 48%;

}




#features{
height: 595px;
}
#features .features-wrapper{
    display: flex;
    justify-content: space-between;
    

}
.features-wrapper .features-lists{
    padding-top: 66px;
    flex-basis: 48%;
}
.features-list{
    padding: 23px;
    margin-bottom: 6px;
    border-left: 4px transparent;
}
.features-list.active{
    border-left: solid 6px #019bed;
    margin-bottom: 6px;

}
.features-list.active h3{
    color: red;
}

.features-wrapper .features-list h3{
    margin-bottom: 12px;
    color: #6d7f89;
    font-size: 18px;
    
}
.features-wrapper .features-list p{
    color: #919e9f;
    
    
}
.features-wrapper .features-image {
    flex-basis: 48%;
    padding-top: 55px;
    padding-left: 105px;
}

}
.features-wrapper .features-image img {

}
#service{
    height: 530px;

}
.section-header{
    
    
}
.section-header h2{
    font-size: 40px;
    padding-top: 55px;
    margin-bottom: 28px;
    text-align: center;    
}
.section-header p{
    padding-left: 18px;
    font-size: 20px;
    margin-bottom: 34px;

}
.section-body{

}
.card-type-1-wrapper{
    display: flex;
    text-align: center;

    padding-top: 50px ;

} 
.card-type-1{
    flex-basis: 25%
    padding: 0 24px 4px 26px;
    background-color: #faebd7a3;
    padding-top: 46px;
    
    

}
.card-type-1 h3{
    
    margin-bottom: 20px;

}
.card-type-1 p{


}



#portfolio{
    height: 1132px;
    


}
.portfolio-background{
    background-color: white;
}

#portfolio .portfolio-img{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap ;

}
.portfolio-img img{
    max-width: 342px;
    max-height: 280px;
    flex-basis: 20%;
    margin-bottom: 35px;

}
#c2a{
    background-image: url(../images/cta-bg.jpg);

}
.c2a-overlay{
    background-color: rgba(255, 255, 255, 0.7);

}
.c2a-wrapper{
    
    height: 262px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}
.c2a-wrapper .c2a-left{
    flex-basis: 80%;

}
.c2a-left h2{
    font-size: 30px;

}
.c2a-left p{
    font-size: 20px;
    margin-top: 12px;
    color: #747a94;


}
.c2a-wrapper .c2a-link{
    flex-basis: 16%;

}
#team{
    height: 689px;
    background-image: url(../images/team-bg.jpg  );


}
.team-header{
    padding-top: 65px;

}
.team-header h2{
    text-align: center;
    font-size: 38px;
    padding-bottom: 25px;

}
.team-header p{
    padding-left: 37px;
    font-size: 18px;

}

.team-wrapper{
    display: flex;
    justify-content: space-between;
    

}
.card-type-2 {

}
.card-type-2 img{
    flex-basis: 30%;
    max-height: 440px;
    max-width: 345px;
    margin-top: 21px;


}




#contact{

}